
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@1,100&family=Red+Hat+Display:wght@500&family=Titan+One&display=swap');

body{
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #ffffff 100%);
  
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Board{
  width: 300px;
  height: 300px;
  border: 10px double #000000;
}
.square{
  background-color: rgba(249, 249, 249, 0);
  border-radius: 0;
  width: 100px !important;
  height: 100px !important;
  font-size: large;
  border: 1px solid #000000;
  float: left;
  font-size: 40px;
  font-weight: bolder;
  line-height: 34px;
  padding: 0;
  text-align: center;
font-family: Titan One;
}
h1{
  font-family:"Titan one";
  color: #492849;
  margin-bottom: 100px;
}

.mainDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}